.container {
  width: 100%;
  
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 2rem;
  border: var(--border);
  border-radius: 1rem;
  color: var(--white);
  padding: 2rem;
}


.subTitle {
  border: .2rem solid var(--color-primary);
  color: var(--color-primary);
  padding: .5rem 1rem;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: transparent;
}

.description {
  color: #eee;
}

.price {
  font-weight: bold;
  font-size: 2.6rem;
}

.price_subtext {
  font-weight: normal;
  font-size: 1.8rem;
  text-align: left;
}

.features_list {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  gap: 2rem;
  list-style-type: none;
  border-top: var(--border);
  padding: 2rem 0;
}

.features_list_item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 2rem;
}

.features_list_item_name { 
  width: 80%;
}


.button {
  width: 100%;
}


@media (min-width: 481px) {
 
}

@media (min-width: 769px) {
  .button {
    width: auto;
  }
}

@media (min-width: 1280px) {
  
}