.container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  text-align: left;

  gap: 2rem;
  border: var(--border);
  border-color: #eee;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 2rem;
}

.subTitle {
  border: .2rem solid #eee;
  padding: .5rem 1rem;
  border-radius: 4rem;
  font-weight: bold;
}

.price {
  font-weight: bold;
  font-size: 2.6rem;
}

.price_subtext {
  font-weight: normal;
  font-size: 1.8rem;
}

.features_list {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  list-style-type: none;
  border-top: var(--border);
  padding: 2rem 0;
}

.features_list_item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 1rem;
  background-color: var(--white);
}

.features_list_item_name { 
  width: 80%;
}


.button {
  width: 100%;
}