.wrapper {
  margin-top: 6.5rem;
}

.nav {
  position: fixed;
  z-index: 1000;

  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  background-color: var(--black);
  border-radius: 0;
  border: 0;
  
  color: var(--white);
  border-color: var(--color-primary);

  padding: 2rem;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  top: 0;
}

.nav_hidden {
  top: -10rem;
}