.card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  border: var(--border);
}

.title {
  width: 100%;
  text-align: center;
  color: var(--color-primary);
}

.description {
  color: #eee;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 5rem;
  color: var(--color-primary);
}