.section {
  padding: 10vh 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background-color: var(--black);
  color: var(--white);
}

.card_list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.icon {
  font-size: 5rem;
  color: var(--color-primary);
}

@media (min-width: 769px) {
  .card_list {
    flex-flow: row nowrap;
    align-items: flex-end;
  }
}