.form {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
  border: var(--border);
}

.label {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.input,
.textarea {
  padding: 1rem;
  border-radius: 1rem;
  border: .2rem solid#eee;
  background-color: transparent;
}

.textarea {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}


@media (min-width: 769px) {
  .form {
    width: 50%;
  }
}